.main-heading{
    background-color: #d7f5f4;
    padding: 10px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
}
.main-heading-part {
    color: #13edea;
    margin-top: 0px;
    
}
.drug-serch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #e3e8e8;
    margin-top: 0px;
}
.drug-search-heading {
    font-weight: 600;
    font-size: 20px;
}
.drug-search-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
}
.drug-search-input input {
    border: none;
}
.drug-search-input input:focus{
    border: none;
    outline: none;
}

.speciality-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    gap: 30px;
}
.speciality-btn-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.speciality-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.speciality-description {
    max-width: 50%;
}
.speciality-btn-container button {
    margin-right: 5px;
    width: 110px;
    padding: 8px;
}
.speciality-btn-container button:hover {
    background-color: #d7f5f4;
    outline: none;
    border: none;
    cursor: pointer;
}
.drug-table-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
}
.drug-table-box {
    border: 2px solid black;
    width: 35%;
}
.drug-table-box h2{
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 22px;
}
.drug-title {
    cursor: pointer;
}
.news-title {
    font-weight: bold;
}
.explore-more-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 70px;
    gap: 20px;
}
.explore-more-cart1 {
    text-align: start;
}
.hash-style {
    font-size: 14px;
    color: gray;
}
@media (max-width:768px){
    .explore-more-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .drug-serch-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
    }
    .speciality-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
}