.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
.nav-items {
    list-style-type: none;
    
}
.nav-items li {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    border-right: 1px solid black;
}
.header-icon {
    width: 120px;
    height: 40px;
}
.trophy-text {
    color: red;
    font-weight: bold;
}
.trophy-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
    gap: 10px;
}
.trophy-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.trophy-main-container p {
    border: 1px solid black;
    border-radius: 48%;
    padding: 10px;
}